html {
    background-color: #3C8527;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2D3748;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 20% 75% 5%;
    grid-template-columns: 15rem 1fr;
    gap: 0;
}

/* HEADER-FOOTER */

header {
    background-color: #3C8527;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-row: 1;
    grid-column: span 2;
}

header > * {
    margin: 0.5%;
}

header > img {
    height: 40%;

    box-shadow: 0em 0.3em 0.1em rgba(0, 0, 0, 0.1);

    border: 1%;
    border-style: solid;
    border-radius: 12.5%;
    border-color: #FFFFFF;
}

header > h1 {
    font-size: 39px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

header > blockquote {
    opacity: 0.8;
    font-style: italic;
    font-size: 0.9em;
}

footer {
    background-color: #28651C;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-row: 3;
    grid-column: span 2;

    /*position: sticky;
    bottom: 0;*/
}

/* BODY */

.container > main, aside {
    background-color: #FFFFFF;
    padding: 0.75rem;
}

.container > main {
    padding-right: 5rem;
}

.container > aside {
    font-size: 0.75em;

    border: 0rem;
    border-right: 0.1rem;
    border-style: solid;
    border-color: rgba(60, 133, 39, 0.15);
}

.container > aside h3 {
    color: #28651C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container > aside > * {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#about-me {
    background-color: #E2E8F0;

    border-style: hidden;
    border-radius: 2.5%;
}

#about-me * {
    margin: 0.25rem;
    padding: 0.5rem;
}

#about-me h3 {
    color: #333322;
    padding-bottom: 0rem;
}

.aside-list {
    padding-left: 0.75rem;

    border: 0rem;
    border-left: 0.2rem;
    border-style: solid;
    border-color: #3C8527;
}

.aside-list * {
    margin: 0;
    margin-bottom: 0.5rem;

    text-decoration: none;
    color: #2879B8;
    
    list-style: none;
    padding-left: 0;
}

#articles-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}

#articles-container > article {
    height: fit-content;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

/*All articles except the first (column reverse)*/
#articles-container > article:not(script + article) {
    border: 0rem;
    border-bottom: 0.1rem;
    border-style: solid;
    border-color: rgba(60, 133, 39, 0.15);
}

#articles-container > article * {
    margin: 0;
}

#articles-container > article > * {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

#articles-container > article > div > h2 {
    font-size: 34px;
    color: #28651C;
}

#articles-container > article div > p {
    font-size: 0.9em;
    color: #667267;
}

#articles-container > article > img {
    float: right;
    height: 10em;

    margin: 0.5rem;
    margin-bottom: 0rem;

    box-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.3);

    border-style: hidden;
    border-radius: 2%;
}

#articles-container > article:nth-of-type(2n+1) > img {
    float: left
}